@tailwind base;
@tailwind components;
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Rubik&display=swap");

body {
    margin: 0;
    font-family: "Rubik", "sans-serif";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    background-color: #505869;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    touch-action: manipulation;
}

@tailwind utilities;
