@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
.grid_word_wall {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 10%; */
}

.grid_word_wall > * {
    margin: 10px 0 0 10px;
}

.center-screen {
    display: flex;
    justify-content: center;
    width: 100%;
}

.flex-page {
    display: flex;
}

.style-text {
    font-family: "Kosugi Maru", sans-serif;
    font-size: xx-large;
}
