@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");

.title {
    font-family: "Kosugi Maru", sans-serif;
    font-size: 15vh;
}

.center-game {
    display: flex;
    justify-content: center;
    width: 100%;
}
