@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@use "@material/card";
@include card.core-styles;

.PSWall_container {
    display: flex;
    flex-direction: column;
    place-items: center;
}

.title {
    font-family: "Secular One", sans-serif;
    font-size: 500%;
}

.grid {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap: 10%; */
}

.grid > * {
    margin: 10px 0 0 10px;
}
